extends layout

block content  
      .container(style='padding: 0')
        .starter-template
          h1 #{title}
          .col-lg-2
            img(src=card.image_url)
          .col-lg-2.col-lg-offset-1
            p Name: #{card.name}
            p CMC: #{card.converted_mana_cost}
            p Mana Cost: #{card.mana_cost}
            if card.legality.Standard
              p Standard Legal: Yes
            else
              p Standard Legal: No
            b Text:
            p #{card.text}
      // /.container
